.footer {
    background-color: $black;
    padding: 48px 0;
    color: #fff;

    > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__author {
        font-size: 1.125rem;
        padding-left: 75px;
        margin: 12px 0 0;
    }

    &__columns {
        display: flex;
        justify-content: space-between;
        gap: 96px;
    }

    &__column:nth-child(1) {
        max-width: 530px;

        .footer__nav {
            column-count: 2;
            column-gap: 24px;
        }
    }

    &__column:nth-child(3) {
        max-width: 235px;
    }

    &__subtitle {
        font-weight: 600;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin: 0 0 15px;
    }

    &__link {
        display: block;
        margin: 0 0 8px;
        color: #fff;
        text-decoration: none;
        font-size: 0.875rem;

        &:hover {
            text-decoration: underline;
        }
    }

    .contact-item {
        font-size: 0.875rem;
        margin-bottom: 8px;

        path {
            stroke: #fff;
        }

        a {
            color: #fff;
        }
    }
}
