.section {
    padding-top: 64px;
    padding-bottom: 128px;
    overflow: hidden;

    @include xl {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    @include sm {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    &_bg, &_bg-lines {
        &:after {
            content: '';
            position: absolute;
            background: url(../images/wave.svg);
            width: 100%;
            height: 229px;

            @include xxl {
                height: 175px;
            }

            @include lg {
                height: 150px;
            }

            @include sm {
                height: 100px;
                width: 120%;
            }
        }
    }

    &_bg {
        background: #e6eff8;
        background: linear-gradient(94.26deg, rgba(30, 38, 49, 0.2) 4.07%, rgba(163, 182, 215, 0) 75.34%), #e6eff8;
        padding-top: calc(64px + 70px);
        position: relative;
        margin-top: -70px;

        @include sm {
            padding-top: 90px;
        }

        &:after {
            top: -1px;
            transform: rotate(180deg);
        }
    }

    &_bg-lines {
        background: #e6eff8;
        background-repeat: no-repeat;
        background-position: 0 -60px, 0 0;
        background-image: url("../images/background-lines.png");
        background-image: url("../images/background-lines.png"), linear-gradient(274.26deg, rgba(30, 38, 49, 0.2) 4.07%, rgba(163, 182, 215, 0) 75.34%);
        position: relative;
        padding-bottom: calc(128px + 130px);

        @include xl {
            margin-bottom: -75px;
        }

        @include lg {
            padding-bottom: calc(128px + 90px);
        }

        @include sm {
            padding-bottom: 128px;
        }

        &:after {
            bottom: -1px;

            @include sm {
                left: -75px;
            }
        }
    }

    &__title {
        max-width: 832px;
        width: 100%;
        margin: 0 0 48px;
        padding: 0 0 10px;
        border-bottom: 2px solid #1a499a;

        @include sm {
            margin: 0 0 16px;
        }
    }
}
