.section {
    padding-bottom: 128px;

    &_bg, &_bg-lines {
        &:after {
            content: '';
            position: absolute;
            background: url(../images/wave.svg);
            width: 100%;
            height: 229px;
        }
    }

    &_bg {
        background: #e6eff8;
        background: linear-gradient(94.26deg, rgba(30, 38, 49, 0.2) 4.07%, rgba(163, 182, 215, 0) 75.34%), #e6eff8;
        padding-top: 70px;
        position: relative;
        margin-top: -70px;

        &:after {
            top: -1px;
            transform: rotate(180deg);
        }
    }

    &_bg-lines {
        background: #e6eff8;
        background-repeat: no-repeat;
        background-position: 0 -60px, 0 0;
        background-image: url("../images/background-lines.png");
        background-image: url("../images/background-lines.png"),
        linear-gradient(274.26deg, rgba(30, 38, 49, 0.2) 4.07%, rgba(163, 182, 215, 0) 75.34%);
        position: relative;
        padding-top: 0;
        padding-bottom: calc(128px + 130px);

        &:after {
            bottom: 0;
        }
    }

    &__title {
        max-width: 832px;
        width: 100%;
        margin: 0 0 48px;
        padding: 64px 0 10px;
        border-bottom: 2px solid #1a499a;
    }
}
