.categories-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;

    @include xl {
        grid-template-columns: repeat(4, 1fr);
    }

    @include md {
        grid-template-columns: repeat(2, 1fr);
    }
}

.categories-slider {
    position: relative;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .slick-slide {
        margin: 0 20px;
    }

    .slick-list {
        margin: 0 -20px;
    }

    .category-item__text {
        font-size: 1.25rem;
    }

    &__arrows {
        position: absolute;
        bottom: calc(100% + 35px);
        right: 0;
        z-index: 2;
        display: flex;
        align-items: center;
        gap: 40px;

        @include md {
            display: none;
        }
    }

    &__arrow-prev,
    &__arrow-next {
        width: 70px;
        height: 24px;
        background-image: url(../images/icon-arrow.svg);
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            opacity: 0.5;
        }
    }

    &__arrow-prev {
        transform: rotate(180deg);
        position: relative;
        top: 2px;
    }

    .category-item__text img {
        width: 40px;
    }
}

.category-item {
    background-color: #fff;
    grid-column: span 2;
    border: 1px solid #fff;
    border-bottom: 1px solid #1a499a;
    transition: all 0.2s;

    &:hover {
        border: 1px solid #1a499a;
    }

    &.size-l {
        grid-column: span 3;
    }

    &.size-xl {
        grid-column: span 6;
    }

    &__link {
        text-decoration: none;

        &:hover {
            transform: translate(10px, 0);
        }
    }

    &__text {
        color: #1a499a;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        padding: 29px 40px;
        border-top: 1px solid #1a499a;
        text-transform: uppercase;
        font-size: 1.75rem;

        @include container {
            padding: 29px 20px;
        }

        @include xxl {
            font-size: 1.5rem;
        }

        img {
            width: 50px;
            transition: all 0.2s;
        }
    }

    &:hover {
        .category-item__text img {
            transform: translate(10px, 0);
        }
    }
}
