.consult-form__grid-item {
    grid-column: span 4;
}

.consult-form {
    background-image: url(../images/banner-back.png);
    background-size: cover;
    color: #fff;
    padding: 48px 90px;

    @include xxl {
        padding: 48px;
    }

    @include lg {
        padding: 25px;
    }

    .flex-row {
        gap: 60px;

        @include lg {
            gap: 0;
        }
    }

    &__title {
        color: #fff;
        margin-top: 0;
    }

    &__text {

    }

    p {
        margin-top: 0;
    }

    .form .checkbox input + label {
        color: #fff;
    }
}
