.contact-item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;

    &:last-child {
        margin-bottom: 0;
    }

    &__icon {
        flex: 0 0 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    path {
        stroke: $blue;
    }

    a {
        color: $black;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}
