dl {

    > div {
        display: flex;
        margin-bottom: 20px;

        @include md {
            display: block;
        }
    }

    dt {
        font-weight: bold;
        width: 100%;
        max-width: 350px;
        padding-right: 20px;

        @include xxl {
            max-width: 250px;
        }

        @include lg {
            max-width: 200px;
        }

        @include md {
            max-width: 100%;
        }
    }

    dd {
        margin: 0;
    }
}
