.form {

    &__text {
        font-size: 1.25rem;
        line-height: 150%;
    }

    &__row {
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    input, textarea {
        background: rgba(255, 255, 255, 0.6);
        line-height: 150%;
        border: none;
        padding: 18px 20px;
        width: 100%;
        cursor: pointer;

        ::placeholder {
            color: rgba($blue, 0.6);
        }
    }

    &.form-bordered {

        input, textarea {
            border: 1px solid rgba($black, 0.4);
        }

        button {
            background-color: $black;
            color: #fff;

            &:hover {
                background-color: $blue;
            }
        }
    }

    textarea {
        height: 240px;
    }

    .two-columns {
        gap: 24px;
    }
}

.checkbox,
.radio {

    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        width: auto;
    }

    input + label {
        user-select: none;
        margin: 0;
        line-height: 150%;
        padding-left: 38px;
        position: relative;
        cursor: pointer;

        &:before {
            content: '';
            display: inline-block;
            width: 22px;
            height: 22px;
            background-color: rgba(255, 255, 255, 0.6);
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            left: 0;
            border: 1px solid rgba($black, 0.4);
        }
    }

    input:checked + label::before {
        background-image: url(../images/icon-checkbox.svg);
        background-color: $blue !important;
    }
}

.checkbox {
    display: flex;
    gap: 16px;
    align-items: center;

    input + label {
        font-size: 14px;
        color: rgba($black, 0.4);

        @include lg {
            & {
                color: $black;
            }
        }

        &:before {
            margin-top: 5px;
        }
    }

    a {
        color: rgba($black, 0.4);

        @include lg {
            & {
                color: $black;
            }
        }

        &:hover {
            text-decoration: none;
        }
    }
}

.radio {
    padding: 18px 20px;
    box-shadow: 0 0 8px rgba(26, 73, 154, 0.2);
}

.range {
    margin-bottom: 15px;

    &__inputs {
        display: flex;
        gap: 16px;
        margin-bottom: 24px;
        position: relative;

        > div {
            position: relative;

            &:before {
                display: block;
                position: absolute;
                left: 10px;
                top: 14px;
                color: rgba($black, 0.4);
            }

            &:first-child:before {
                content: 'от';
            }

            &:last-child:before {
                content: 'до';
            }
        }

        input {
            padding: 10px 10px 10px 35px;
            border: 1px solid rgba($black, 0.4);
            font-size: 1.5rem;
            cursor: pointer;
            max-width: 150px;
        }
    }

    .noUi-target {
        box-shadow: none;
    }

    .noUi-horizontal {
        height: 1px;
    }

    .noUi-connects {
        overflow: visible;
    }

    .noUi-connect {
        height: 1px;
        background: $blue;
    }

    .noUi-horizontal .noUi-handle {
        box-shadow: none;
        width: 20px;
        height: 20px;
        background: #fff;
        border: 1px solid $blue;
        border-radius: 50%;
        top: -10px;

        &:before,
        &:after {
            display: none;
        }
    }
}
