.logo {
    display: flex;
    justify-content: center;
    margin-top: 16px;

    img, svg {
        width: 392px;
        height: 64px;
    }

    &-contrast {

        path {
            fill: $blue;
        }
    }
}
