.visible-xs {
}
.visible-sm {
    @include sm {
        display: none !important;
    }
}
.visible-md {
    @include md {
        display: none !important;
    }
}
.visible-xl {
    @include xl {
        display: none !important;
    }
}
.visible-xxl {
    @include xxl {
        display: none !important;
    }
}
.visible-container {
    @include container {
        display: none !important;
    }
}

.hidden-xs {
    display: none !important;
}
.hidden-sm {
    display: none !important;

    @include sm {
        display: block !important;
    }
}
.hidden-md {
    display: none !important;

    @include md {
        display: block !important;
    }
}
.hidden-xl {
    display: none !important;

    @include xl {
        display: block !important;
    }
}
.hidden-xxl {
    display: none !important;

    @include xxl {
        display: block !important;
    }
}
.hidden-container {
    display: none !important;

    @include container {
        display: block !important;
    }
}
